{% ckan_extends %}

{% block actions_content_inner %}
  {{ super() }}
  {% if h.scheming_get_dataset_schema(pkg.type).clonable %}
    <li>{% link_for _('Clone'), controller='ckanext.stcndm.controllers.clone:CloneDatasetController', action='clone', ds_id=pkg.name, class_='btn btn-default' %}</li>
  {% endif %}
{% endblock %}

{% block package_item_notes %}
  {% if pkg.notes %}
    {{ h.render_markdown(h.scheming_language_text(pkg.notes)) }}
  {% endif %}
{% endblock %}

{% block secondary_content %}{% endblock %}