{% ckan_extends %}
{% set intro = g.site_intro_text %}
{% set placeholder = _('E.g. environment') %}

{% block subtitle %}{{ _("Statistics Canada - New Dissemination") }}{% endblock %}

{% block primary_content %}
<div class="row">
{% block datast_type_list %}
  <ul class="list-unstyled col-md-12 row">
    {% set schemas = h.get_dataset_types() %}
    {% for schema in schemas %}
      {% set schema_id = schema[0] %}
      {% set name = h.scheming_language_text(schema[1]['title']) %}
      {% set count = schema[1].count %}
      <li class="row col-md-4" style="margin:0.5em 0">
        <a href="{{ h.url_for(schema_id + '_search') }}">{{ h.truncate(name, 50) }} ({{ count }}<span class="wb-inv"> {{ _("datasets") }}</span>)</a>&nbsp;&nbsp;
        {% if h.check_access('package_create') %}
          <a class="btn btn-default" href="{{ h.url_for(schema_id + '_new') }}">{{ _("Create") }}<span class="wb-inv"> {{ _(" %(type)s dataset")|format(type=name) }}</span> <span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block report_generator %}
    <div class="col-md-12">
        <section class="panel panel-primary">
          <h2 class="panel-heading" style="margin-top:0">{{ _('Report Generator') }}</h2>
          <div class="panel-body">
            {% link_for _('Report Generator'), controller='ckanext.report_generator.controller:ReportGeneratorController', action='index' %}
          </div>
          <div class="panel-body">
            {% link_for _('Product Schemas in Excel format'), controller='ckanext.stcndm.controllers.schema_to_xl:SchemaToXlController', action='dump' %}
          </div>
        </section>
    </div>
{% endblock %}
</div>
{% endblock %}
