{% extends "page.html" %}

{% block subtitle %}{{ 'Report Generator' }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ 'Report Generator' }}</li>
{% endblock %}

{% block primary_content_inner %}
<div data-ng-app="reportGenerator" ng-strict-di>
<form method="POST" ng-submit="sendQuery()">
    <section>
        <h2 class="wb-inv">Query</h2>
        <fieldset class="well">
            <legend>Dataset Type(s):</legend>
            <div class="form-group">
                <dataset-types></dataset-types>
            </div>
        </fieldset>
        <div class="row">
            <div class="form-group col-xs-12">
                <label for="query" class="control-label">Search Query</label>
                <div class="input-group">
                    <textarea rows="5" class="form-control" id="query" ng-model="query" name="keyword"></textarea>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="border-style:solid;" ng-click="clearKeywords()"><span class="glyphicon glyphicon-remove-circle"></span><span class="wb-inv">Clear</span></button>
                        </span>
                </div>
            </div>
        </div>

        <details>
            <summary class="h5">Advanced Search Options</summary>
            <advanced-search></advanced-search>
        </details>

        <details>
            <summary class="h5">Display Options</summary>

            <div class="form-group">
                <label for="format" class="control-label">Maximum number of records:</label>
                <select id="format" class="form-control" ng-model="maxResults" ng-options="key as value for (key , value) in maxResultsOptions"></select>
            </div>
            <display-fields></display-fields>
        </details>

    </section>
    <div class="form-group">
        <input type="submit" class="btn btn-primary h5" value="Generate" />
        <button type="button" class="btn btn-default h5" ng-click="saveUrl()">Save Query</button>
        <a href="{% raw %}{{savedUrl}}{% endraw %}" class="btn h5" ng-show="savedUrl"><span class="glyphicon glyphicon-link"></span> Saved Query</a>
    </div>
</form>

<div ng-show="queryResults">
    <h2>Results</h2>
    <p>Total number of records found: <span ng-bind="queryResultsCount"></span></p>
    <a href="{% raw %}{{downloadLink}}{% endraw %}" class="btn btn-default" download><span class="glyphicon glyphicon-download"></span> Download CSV</a>
    <!-- Hack to preload datatables -->
    <table id="results" class="table table-striped table-responsive wb-tables" data-wb-tables='{"data":[["a"]],"columns":[{"title":"a"}]}'></table>
    <a href="{% raw %}{{downloadLink}}{% endraw %}" class="btn btn-default" download><span class="glyphicon glyphicon-download"></span> Download CSV</a>
</div>
<div class="alert alert-danger" role="alert" ng-show="queryError">
  <h2>Error:</h2>
  <span ng-hide="queryErrorMessage">An error occured while running the query.</span>
  <span ng-show="queryErrorMessage">{% raw %}{{queryErrorMessage}}{% endraw %}</span>
</div>

<script type="text/ng-template" id="templates/advanced-search.html">
<div class="row">
    <div class="col-md-12">
        <div class="form-group col-sm-3">
            <label for="fields" class="control-label">Field</label>
            <select class="form-control" id="fields" style="width:100%" ng-model="advSrchCtrl.field" ng-controller="FieldsController as fieldsCtrl" ng-options="field as field for field in fieldsCtrl.fields">
            </select>
        </div>

        <div class="form-group col-sm-5">
            <label for="fieldkey" class="control-label">Keywords for field:</label>
            <input type="text" id="fieldkey" class="form-control" style="width:100%" ng-model="advSrchCtrl.keyword" ng-disabled="advSrchCtrl.emptyKey" />
        </div>

        <div class="form-group col-sm-4">
            <br class="hidden-xs"/>
            <label for="empty">
                <input type="checkbox" id="empty" ng-model="advSrchCtrl.emptyKey" />
                Empty
            </label>
        </div>

        <div class="form-group col-sm-12">
            <label for="op" class="control-label">Operator:</label>
            <select id="op" class="form-control" ng-model="advSrchCtrl.operator" ng-disabled="advSrchCtrl.emptyKey" ng-click="advSrchCtrl.onEmptyChanged()">
                <option value="OR">OR</option>
                <option value="AND">AND</option>
                <option value="OR NOT">OR NOT</option>
                <option value="AND NOT">AND NOT</option>
            </select>
        </div>

        <div class="form-group col-sm-12">
            <button id="add_query" type="button" class="btn btn-default" ng-click="advSrchCtrl.addField()">Add</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="templates/dataset-types.html">
<div class="col-md-2 col-sm-3 col-xs-6" data-ng-repeat="dataType in dataTypeCtrl.datasetTypes">
    <label class="checkbox-inline" for="{% raw %}{{dataType}}{% endraw %}">
        <input type="checkbox" id="{% raw %}{{dataType}}{% endraw %}" checklist-model="dataTypeCtrl.selectedDatasetTypes" checklist-value="dataType" checklist-change="dataTypeCtrl.changed()" /> {% raw %}{{dataType}}{% endraw %}
    </label>
</div>
</script>
<script type="text/ng-template" id="templates/display-fields.html">
<div class="row">
    <fieldset class="col-md-12">
        <div class="col-md-12">
            <legend class="h4">Fields to display:</legend>

            <div class="row">
                <div class="form-group form-horizontal col-sm-3">
                    <label for="displayfield" class="wb-inv">Field to display:</label>
                    <select class="form-control" id="displayfield" style="width:100%;" ng-model="dspFieldCtrl.field" ng-controller="FieldsController as fieldsCtrl" ng-options="field as field for field in fieldsCtrl.fields"></select>
                </div>

                <div class="form-group col-sm-9">
                    <button id="add_display_field" type="button" class="btn btn-default" ng-click="dspFieldCtrl.addField()">Add</button>
                </div>
            </div>

            <table class="table" ng-show="dspFieldCtrl.getVisible()">
                <thead>
                    <th>Field</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr ng-repeat="field in dspFieldCtrl.fields">
                        <th>{% raw %}{{field}}{% endraw %}</th>
                        <td><button type="button" class="btn btn-default" ng-click="dspFieldCtrl.removeField(field)" ng-hide="dspFieldCtrl.getMandatory(field)"><span class=" glyphicon glyphicon-trash"></span><span class="wb-inv">Delete</span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
</script>
</div>
{% endblock %}

{%- block styles %}
  {{ super() }}
  <style>
  display-fields,advanced-search{margin:0!important;}
  summary.h5{margin-top:0;}
  </style>
{% endblock %}

{%- block scripts %}
    {{ super() }}
    <script src="{% url_for_static 'lib/angular/angular.min.js' %}"></script>
    <script src="{% url_for_static 'app.min.js' %}"></script>
    <script>
    (function(window, angular) {'use strict';
      angular.module('services.config', [])
          .constant('configuration', {
              ckanInstance: '{{c.ckan_url}}',
              solrCore: '{{c.ckan_url}}/solr',
              siteID: '{{c.site_id}}'
          });
    })(window, angular);
    </script>
{% endblock %}